
.product-card h3 {
    margin-top: 10px;
  }
  .spNew{
    margin-top: 10px;
    text-align: center;
  }
  .card-img:hover {
    transform: scale(1.1); /* Thay đổi tỷ lệ kích thước để hình ảnh nổi lên */
  }